
$background-page = #2D3E50

$background-light = #ECF0F1
$background-blue = #2886D2
$background-bluedark = #1E2936

$link-light = #fff
$link-dark = #748496

*
     box-sizing border-box
     transition all .2s
     
html body
    margin 0
    padding 0
    font-size: 16px
   
    font-family: 'Open Sans', sans-serif
    background $background-page
ul
    list-style none
    
a
        cursor pointer
        text-transform uppercase
        text-decoration none
        color $link-dark
        font-weight 700
        font-size 12px
        display block
                

// Estilos Header - Navegacion

.navegation
    height 41px
    background $back-groundbar
    display: flex
    justify-content space-between
    align-items center
    border-bottom: 1px solid #11171E;
    box-shadow: 0 20px 50px rgba(0,0,0,.20);
    
    &-items
        padding 0 15px 
        margin 0 22px
        display flex
        
    &-item
        flex auto
        font-size .8em
        padding 0 .5em
        box-sizing border-box
        text-align center
        
    &-items :nth-child(1)
        padding-left 0
        
    &-item a
        line-height 41px

    &-item a:hover
        color white
        
    &-title a
        font-size .8em
        line-height 41px
        padding-right 14px
        margin-right 22px
        text-transform capitalize
        text-decoration none
        color $link-light
    
    @media screen and (max-width: 601px)
        flex-direction: column-reverse
        height 81px

        &-title 
            margin 0

.logo
    display flex
    align-items center
    height 131px
    
    @media screen and (max-width: 801px)
        justify-content center
        
    &-container
        margin 0 22px
        padding 0 15px
        

.search 
    height 139px
    margin 0 22px
    padding 0 15px
    margin-bottom 20px
    

    &-container
        height 140px
        background $background-light
        border-radius 8px
        display: flex
        flex-direction: column
        justify-content: space-around
        
    &-tags
        background $background-blue
        display flex
        align-items flex-end
        height 50%
        margin 0
        border-radius 8px 8px 0 0 
        & i
            display none
    
    &-tag
        background   darken($background-blue, 25%)
        border-radius 5px 5px 0 0
        margin-right 10px
            
    &-tag a
        line-height 50px
        color $link-light
        padding 0 1em
        
        &:active
            border-radius 5px 5px 0 0
            background $background-light
            color $link-dark

    @media screen and (max-width: 601px) 
        &-tags i
            display block
            font-size 1.5em
            padding 1em
        &-tag a span
            display none

    
    &-buttom
        height 50%
        display flex
        justify-content center
        align-items center
        padding 14px


    &-input
        flex 80
        min-height 40px
        line-height 20px
        background-color $background-light
        width 100%
        border: 1px solid #E8ECED;
        border-right none
        border-radius 30px 0 0 30px;
        box-shadow 0 0 10px rgba(0,0,0,.05)
        padding 9px 14px
        
    &-button 
        flex 10
        min-height 40px
        background-color $background-light
        border: 1px solid #E8ECED
        border-radius 0 30px 30px 0
        border-left none
        box-shadow 0 0 10px rgba(0,0,0,.05)
        
        &:hover
            color darken(lightblue, 30%)
    

//fin estilos navegacion - header


.video
    margin 0 22px
    padding 0 15px
    display flex
    flex-direction column
    
.capitulo
    margin-bottom 20px
    
    &-container
        display flex
        flex-direction column
        
    &-titulo
        height 55px
        background darken($background-bluedark,30%)
        display flex
        justify-content center
        align-items center
        border-radius 8px 8px 0 0
        
        & a
            padding 1em
            text-transform capitalize 
            font-size 1.1em
            margin-bottom 0
            
            
    &-opciones
        height 55px
        background $background-bluedark
        border-radius 0 0 8px 8px
        padding 14px
        display flex
        justify-content space-around
        align-items center
        & a
            padding 1em
    
    &-anterior
        display flex
        align-items center
        & i 
            font-size 2em
            color $link-light
            margin-right 10px
            &:hover
                color $background-blue
        & span
            line-height 3em
            color $link-light
            display block
            
    &-lista
        display flex
        align-items center
        
        & i 
            font-size 2em
            color $link-light
            margin-right 10px
            &:hover
                color $background-blue
            
        & span
            color $link-light
            display block
            line-height 3em
            
    &-siguiente
        display flex
        align-items center
        
        & i 
            font-size 2em
            color $link-light
            margin-right 10px
            &:hover
                color $background-blue
        & span
            line-height 3em
            color $link-light
            display block
    
    @media screen and (max-width: 801px) 
        &-opciones span
            display none
        &-opciones i
            font-size 3em
            
.repro
    
    display flex
    flex-direction column

    &-fuentes
        margin 0
        padding 0
        background $background-page
        display flex
        
    &-fuente
        margin-right 5px
        padding 0 10px
        border-radius 5px 5px 0 0 
        line-height 2em
        background darken($background-bluedark, 30%)
        
        @media screen and (max-width: 801px) 
            span
                display none
            
            a
                padding 1em
        
        & a
            color $link-light
            padding .5em
            
        &:active
            background $background-bluedark
        
    &-insert
        background $background-bluedark
        width 100%
        min-height 80vh
        border-radius 0 8px 0 0 
        padding 14px
        display flex
    
    &-video
        background-color black
        flex 1 1 100%

    &-calificacion
        background darken($background-bluedark, 30%)
        height 50px
        display flex
        justify-content space-between
        align-items center
        padding 0 14px
        margin-bottom 20px
        border-radius 0 0 8px 8px
        
        @media screen and (max-width: 801px) 
            flex-direction column
            align-items: flex-start;
        
    &-puntuacioncontainer
        display flex
        align-items center
        
    &-puntuacion
        margin-right 10px
        background $background-blue
        padding 8px
        
        & span 
            font-size 2em
            color $link-light
            font-weight bold
            height 100%
            
    &-estrellas
        display flex
        flex-direction column
        justify-content star-flex
        align-items star-flex
        
        & span
            padding-top 3px
            line-height 1em
            color $link-light
            text-transform uppercase
            font-size: .7em

        & i
            color $background-blue

    &-compartircontainer
        background darken($background-bluedark, 50%)
        border-radius 15px
        line-height 1.5em
        width 40%
        padding 5px 10px
        
        & i 
            margin-right 5px
            color $background-blue
        
        & a
            color $link-light
            
        @media screen and (max-width: 801px) 
            margin 10px 0
            width 100%
            padding 0 10px


